﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@using LoremIpsumCMS.Web.Areas
@using LoremIpsumCMS.Web.Areas.AdminContent.Controllers
@using LoremIpsumCMS.Web.Areas.AdminContent.ViewModels.AdminPartial

@model IndexViewModel

<div class="modal fade" id="selectPartialTypeModal" tabindex="-1" role="dialog" aria-labelledby="selectPartialTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Select Partial Type</h4>
            </div>
            <div class="modal-body">
                @foreach (var partialType in Model.PartialTypes)
                {
                    <div class="radio clip-radio radio-primary partial-data-type" data-partialtypenameslug="@partialType.NameSlug">
                        <input name="partialType" id="partialtype-@partialType.NameSlug" type="radio" value="@partialType.NameSlug" />
                        <label for="partialtype-@partialType.NameSlug">
                            @partialType.Name
                        </label>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
                    Cancel
                </button>
                <a id="create-partial" asp-route-partialtypenameslug="" class="btn btn-primary" disabled="disabled" data-url="@Url.Action(nameof(AdminPartialController.Create), AdminPartialController.Name, new { Area = AreaNames.AdminContent })">
                    Create
                </a>
            </div>
        </div>
    </div>
</div>
