﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@using LoremIpsumCMS.Web.Areas.AdminShell.ViewModels.AdminModule

@model IEnumerable<IndexModuleViewModel>

@section PageTitle { Manage Modules }
@section PageTitleDescription { Overview }

<div class="container-fluid container-fullw bg-white padding-top-10">

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Assembly</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var module in Model)
            {
                <tr>
                    <td>@module.Name</td>
                    <td>@module.Version</td>
                    <td>@module.AssemblyName</td>
                    @*<td class="table-column-auto-width">
                        <a asp-controller="PageAdmin" asp-action="Edit" asp-route-path="@module.Path" class="btn btn-blue btn-xs edit-page">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a asp-controller="PageAdmin" asp-action="Delete" asp-route-path="@module.Path" class="btn btn-red btn-xs delete-page">
                            <i class="fa fa-times fa-white"></i>
                        </a>
                    </td>*@

                </tr>
            }
        </tbody>
    </table>

</div>
