﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@using LoremIpsumCMS.Web.Areas.AdminContent.ViewModels.AdminAsset

@model IndexViewModel

@section PageTitle { All Partials }

<div class="container-fluid container-fullw bg-white padding-top-10">
    @Html.Partial("_IndexMenuBar")

    <table class="table">
        <thead>
            <tr>
                <th>Path</th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var asset in Model.Assets)
            {
                <tr>
                    <td>@asset.Path</td>
                    <td>@asset.CreatedAt</td>
                    <td class="table-column-auto-width">
                        <button data-toggle="modal" data-target="#deleteConfirmationModal" data-assetpath="@asset.Path" class="btn btn-red btn-xs delete-asset">
                            <i class="fa fa-times fa-white"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_DeleteConfirmatonModal", new DeleteViewModel())

@section PageJs
{
    <script src="~/js/admin-asset-index.js"></script>
}

