﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@using LoremIpsumCMS.Web.Areas
@using LoremIpsumCMS.Web.Areas.AdminSite.Controllers

<div class="row buttons-widget">
    <div class="col-md-12">
        <button type="submit" class="btn btn-wide btn-primary">
            Save
        </button>
        <a asp-action="@nameof(AdminSiteController.Index)" asp-controller="@AdminSiteController.Name" asp-area="@AreaNames.AdminSite" class="btn btn-wide btn-primary btn-o">
            Sites
        </a>
    </div>
</div>