﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@using LoremIpsumCMS.Web.Areas
@using LoremIpsumCMS.Web.Areas.AdminSite.Controllers
@using LoremIpsumCMS.Web.Areas.AdminSite.ViewModels.AdminSite

@model DeleteViewModel

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="deleteConfirmationModalLabel">Delete Site?</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the site '<span id="@nameof(DeleteViewModel.Name)"></span>'?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
                    Cancel
                </button>
                <button type="submit" class="btn btn-danger" form="deleteSiteForm">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<form id="deleteSiteForm" asp-action="@nameof(AdminSiteController.Delete)" asp-controller="@AdminSiteController.Name" asp-area="@AreaNames.AdminSite" method="post">
    <input id="deleteSiteForm-NameSlug" asp-for="NameSlug" type="hidden" />
</form>
