﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@using LoremIpsumCMS.Web.Areas.AdminSite.ViewModels.AdminSite

@model CreateViewModel

<div id="editSiteTab_permissions" class="tab-pane fade">
    
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            @foreach (var permissionName in Model.SitePermissionNames)
            {
                <th>@permissionName</th>
            }
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for (var ix = 0; ix < Model.UserPermissions.Length; ix++)
        {
            <tr>
                <td>@Model.UserPermissions[ix].UserName</td>
                @foreach (var permissionName in Model.SitePermissionNames)
                {
                    <td>
                        <input name="@string.Format("{0}[{1}].{2}", nameof(Model.UserPermissions), ix, permissionName)" type="checkbox" />
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>

</div>

