﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@using LoremIpsumCMS.Web.Areas
@using LoremIpsumCMS.Web.Areas.AdminSite.Controllers
@using LoremIpsumCMS.Web.Areas.AdminSite.ViewModels.AdminSite

@model CreateViewModel

@section PageTitle { Create Site }

@section PageCss
{
    <link rel="stylesheet" href="~/css/admin-loremipsum.css">
}

<div class="container-fluid container-fullw bg-white padding-top-10">
    <form id="siteCreate" asp-action="@nameof(AdminSiteController.Create)" asp-controller="@AdminSiteController.Name" asp-area="@AreaNames.AdminSite" method="post">
        @Html.Partial("_CreateMenuBar")
        @Html.Partial("_Edit")
    </form>
</div>

@section PageJs
{
    <script src="~/js/admin-site-common.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    <script src="~/js/admin-text-editor.js"></script>
    <script src="~/js/admin-content-area.js"></script>
}
