﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

<!DOCTYPE html>
<!-- Template Name: Clip-Two - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- start: HEAD -->
<head>
    <title>Clip-Two - Responsive Admin Template</title>
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->

    @Html.Partial("~/Areas/AdminShell/Views/Shared/_LayoutCss.cshtml")
    @RenderSection("PageCss", false)
</head>
<!-- end: HEAD -->

<!-- start: BODY -->
<body class="login">
    <!-- start: LOGIN -->
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="logo margin-top-30">
                Lorem Ipsum CMS
                @*<img src="assets/images/logo.png" alt="Clip-Two" />*@
            </div>

            @RenderBody()

        </div>
    </div>
    <!-- end: LOGIN -->

    <!-- start: MAIN JAVASCRIPTS -->
    @Html.Partial("~/Areas/AdminShell/Views/Shared/_LayoutJs.cshtml")
    @RenderSection("PageJs", false)

    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    @*<script src="vendor/jquery-validation/jquery.validate.min.js"></script>*@
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: CLIP-TWO JAVASCRIPTS -->
    <script src="assets/js/main.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    @*<script src="assets/js/login.js"></script>*@
    <script>
        jQuery(document).ready(function () {
            Main.init();
            //Login.init();
        });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
    <!-- end: CLIP-TWO JAVASCRIPTS -->
</body>
<!-- end: BODY -->

</html>

