﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@{
    Layout = "~/Areas/AdminUser/Views/Account/_Layout.cshtml";
}

@using LoremIpsumCMS.Web.Areas
@using LoremIpsumCMS.Web.Areas.AdminUser.Controllers
@using LoremIpsumCMS.Web.Areas.AdminUser.ViewModels.Account

@model LoginViewModel

<!-- start: LOGIN BOX -->
<div class="box-login">
    <fieldset>
        <legend>
            Sign in to your account
        </legend>
            
        <div class="form-group">
            @foreach (var externalAuthenticationScheme in Model.ExternalAuthentcationSchemes)
            {
                <form asp-action="@nameof(AccountController.LoginExternal)" asp-controller="@AccountController.Name" asp-area="@AreaNames.AdminUser" asp-route-provider="@externalAuthenticationScheme.Name">
                    <input type="hidden" name="@nameof(LoginExternalViewModel.ProviderName)" value="@externalAuthenticationScheme.Name"/>
                    @Html.Partial($"_LoginExternal{externalAuthenticationScheme.Name}", externalAuthenticationScheme)
                </form>
            }
        </div>

        <p>
            Please enter your name and password to log in.
        </p>
        <form asp-action="@nameof(AccountController.Login)" asp-controller="@AccountController.Name" asp-area="@AreaNames.AdminUser" class="form-login">
            <div class="form-group">
                <span class="input-icon">
                    <input asp-for="DisplayName" type="text" class="form-control" placeholder="Username">
                    <i class="fa fa-user"></i>
                </span>
                <span asp-validation-for="DisplayName" class="text-red"></span>
            </div>
            <div class="form-group form-actions">
                <span class="input-icon">
                    <input asp-for="Password" type="password" class="form-control password" placeholder="Password">
                    <i class="fa fa-lock"></i>
                    @*<a class="forgot" href="#">
                        I forgot my password
                    </a>*@
                </span>
                <span asp-validation-for="Password" class="text-red"></span>
            </div>
            <div class="form-actions">
                @*<div class="checkbox clip-check check-primary">
                    <input type="checkbox" id="remember" value="1">
                    <label for="remember">
                        Keep me signed in
                    </label>
                </div>*@
                <button type="submit" class="btn btn-primary pull-right">
                    Login 
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
            <div class="new-account">
                Don't have an account yet?
                <a asp-action="@nameof(AccountController.Register)" asp-controller="@AccountController.Name" asp-area="@AreaNames.AdminUser">
                    Create an account
                </a>
            </div>
        </form>
    </fieldset>

    <!-- start: COPYRIGHT -->
    <div class="copyright">
        @Html.Partial("_Copyright.cshtml")
    </div>
    <!-- end: COPYRIGHT -->

</div>
<!-- end: LOGIN BOX -->
