﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@{
    Layout = "~/Areas/AdminUser/Views/Account/_Layout.cshtml";
}

@using LoremIpsumCMS.Web.Areas
@using LoremIpsumCMS.Web.Areas.AdminUser.Controllers
@using LoremIpsumCMS.Web.Areas.AdminUser.ViewModels.Account

@model RegisterViewModel

<!-- start: REGISTER BOX -->
<div class="box-register">
    <form asp-action="@nameof(AccountController.Register)" asp-controller="@AccountController.Name" asp-area="@AreaNames.AdminUser" class="form-register">
        <fieldset>
            <legend>
                Register New User
            </legend>
            <p>
                Enter user details below:
            </p>
            <div class="form-group">
                <span class="input-icon">
                    <input asp-for="DisplayName" class="form-control" placeholder="Display Name" />
                    <i class="fa fa-user"></i>
                </span>
                <span asp-validation-for="DisplayName" class="text-red"></span>
            </div>
            <div class="form-group">
                <span class="input-icon">
                    <input asp-for="Name" class="form-control" placeholder="Full Name" />
                    <i class="fa fa-user"></i>
                </span>
                <span asp-validation-for="Name" class="text-red"></span>
            </div>
            <div class="form-group">
                <span class="input-icon">
                    <input type="email" asp-for="Email" class="form-control" placeholder="Email" />
                    <i class="fa fa-envelope"></i>
                </span>
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
            <div class="form-group">
                <span class="input-icon">
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                    <i class="fa fa-lock"></i>
                </span>
                <span asp-validation-for="Password" class="text-red"></span>
            </div>
            <div class="form-group">
                <span class="input-icon">
                    <input type="password" class="form-control" asp-for="PasswordAgain" placeholder="Password Again">
                    <i class="fa fa-lock"></i>
                </span>
                <span asp-validation-for="PasswordAgain" class="text-red"></span>
            </div>

            <div class="form-actions">
                <p>
                    Already have an account?
                    <a asp-action="@nameof(AccountController.Login)" asp-controller="@AccountController.Name" asp-area="@AreaNames.AdminUser">
                        Login
                    </a>
                </p>
                <button type="submit" class="btn btn-primary pull-right">
                    Register <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </fieldset>
    </form>

    @Html.Partial("_Copyright.cshtml")

</div>
<!-- end: REGISTER BOX -->
