﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@using LoremIpsumCMS.Web.Areas
@using LoremIpsumCMS.Web.Areas.AdminContent.Controllers
@using LoremIpsumCMS.Web.Areas.AdminContent.ViewModels.AdminPage

@model IndexViewModel

@section PageTitle { All Pages }

<div class="container-fluid container-fullw bg-white padding-top-10">
    @Html.Partial("_IndexMenuBar")

    <table class="table">
        <thead>
            <tr>
                <th>Path</th>
                <th>Title</th>
                <th>Type</th>
                <th>Created</th>
                <th>Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var page in Model.Pages)
            {
                <tr>
                    <td>@(page.Path)</td>
                    <td>@(page.Title)</td>
                    <td>@(page.Type)</td>
                    <td>@(page.CreatedAt)</td>
                    <td>@(page.LastUpdatedAt)</td>
                    <td class="table-column-auto-width">
                        <a asp-action="@nameof(AdminPageController.Edit)" asp-controller="@AdminPageController.Name" asp-area="@AreaNames.AdminContent" asp-route-path="@(page.Path)" class="btn btn-blue btn-xs edit-page">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <button data-toggle="modal" data-target="#deleteConfirmationModal" data-pagepath="@(page.Path)" class="btn btn-red btn-xs delete-page">
                            <i class="fa fa-times fa-white"></i>
                        </button>
                        <a href="@(page.Path)" class="btn btn-blue btn-xs view-page">
                            <i class="fa fa-external-link-square fa-white"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_DeleteConfirmatonModal", new DeleteViewModel())

@section PageJs
{
    <script src="~/js/admin-page-index.js"></script>
}

