﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@using LoremIpsumCMS.Web.Areas.AdminShared.ViewModels.AdminEditor

@model ContentAreaViewModel

<div>
    <table class="table table-bordered margin-bottom-5 content-area-items-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @for (var ix = 0; ix < Model.Items.Length; ix++)
            {
                <tr loremipsum-hidden-if="Model.Items[ix].IsDeleted">
                    <td>
                        <span>@Model.Items[ix].Name</span>
                        <input asp-for="Items[ix].Name" hidden="hidden" />
                        <input asp-for="Items[ix].IsDeleted" type="checkbox" hidden="hidden" />
                    </td>
                    <td class="table-column-auto-width">
                        <a class="btn btn-red btn-xs delete-content-area-item" href="#">
                            <i class="fa fa-times fa-white"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <input class="content-area-item-name" type="text" />
    <a class="btn btn-primary btn-wide add-content-area-item" href="#">
        <i class="fa fa-plus"></i>
        Add Partial
    </a>
</div>



