﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

<!-- start: GOOGLE FONTS -->
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
<!-- end: GOOGLE FONTS -->

<!-- start: MAIN CSS -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="~/lib/themify-icons/css/themify-icons.css">
<link rel="stylesheet" href="~/lib/animate-css/animate.css" media="screen">
<link rel="stylesheet" href="~/lib/perfect-scrollbar/src/perfect-scrollbar.css" media="screen">
<link rel="stylesheet" href="~/lib/switchery/dist/switchery.css" media="screen">
<!-- end: MAIN CSS -->

<!-- start: CLIP-TWO CSS -->
<link rel="stylesheet" href="~/css/admin-styles.css">
<link rel="stylesheet" href="~/css/admin-plugins.css">
<link rel="stylesheet" href="~/css/admin-themes/theme-1.css" id="skin_color" />
<!-- end: CLIP-TWO CSS -->

<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
